{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'error.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<div class="text">
  <div>Bunday jamoa nomi mavjud va ishtirokchilar 8 tadan ko'p yoki 2 tadan kam !!!</div>
  <h1>Jamoa nomida va ishtirokchi sonida hatolik</h1>
  <hr>
  <div><a href="{% url 'index' %}"style="color:lightblue;">Qaytish uchun bosing</a></div>
</div>

<div class="astronaut">
  <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
</div>
</body>
</html>